In [1]:
## LOOP and Iteration

In [2]:
## Doing things through repetitive

In [3]:
## While
## While the condition is true
## The Code block repeats
counter = 0
while(counter < 10):
    print(counter)
    counter += 1

0
1
2
3
4
5
6
7
8
9

In [4]:
my_list = [1,2,3,4,5,6]
for num in my_list:
    print(num)

1
2
3
4
5
6

In [5]:
for num in (1,2,3):
    print(num)

1
2
3

In [6]:
for num in {1,2,3}:
    print(num)

1
2
3

In [9]:
my_dict = {"name":"alex merced", "age": 38}
for k in my_dict:
    print(my_dict[k])

alex merced
38

In [13]:
print(my_dict.items())
for k,v in my_dict.items():
    print(f"my {k} equals {v}")

dict_items([('name', 'alex merced'), ('age', 38)])
my name equals alex merced
my age equals 38

In [14]:
list_tup = [(1,2,3),(4,5,6),(7,8,9)]
for x,y,z in list_tup:
    print(x,y,z)

1 2 3
4 5 6
7 8 9